@font-face {
    font-family: 'Canela';
    src: url('../assets/fonts/canela/Canela-Thin-Trial.woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../assets/fonts/canela/Canela-Light-Trial.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../assets/fonts/canela/Canela-Regular-Trial.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Canela';
    src: url('../assets/fonts/canela/Canela-Medium-Trial.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Canela';
    src: url('../assets/fonts/canela/Canela-Bold-Trial.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Canela';
    src: url("../assets/fonts/canela/Canela-Black-Trial.woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
