:root{
    --primary-color: #ffffff;
    --secondary-color: #D3F85A;

    --extra-btn-color: #D3F85A;

    --bg1: #090F1D;
    --bg2: #1F413D;

    --bg4: #131E3A;

    --white-white-stich: #FFFFFD;


    --white-dissable: #838382;

    --extra-blue: #3a5cb3;
}